.swiper-button-next, 
.swiper-button-prev {
    background-color: #555;
    border-radius: 50%; 
    width:43px;
    color: white;

}

.swiper-button-next:after, 
.swiper-button-prev:after {
    font-size: 20px;

}


.swiper-pagination-bullet-active {
  background-color: red !important;
}

.swiper-pagination-bullet {
  background-color: rgba(47, 0, 255, 0.5);
}